body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f8fbfb;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

.primary {
  background: #6BB7AE;
  color: white;
}

.btn {
  background: #6BB7AE;
  border: none;
  padding: 12px 22px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background: #5aa39a;
}
